<a href="https://colab.research.google.com/github/iamallana/etepd.Lpc/blob/main/desafio(estrutura_de_repeti%C3%A7%C3%A3o).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
nota = float(input("digite um número de 0 a 10:"))
while (nota>10) or (nota<0):
 nota = float(input("Nota digitada incorretamente. Digite uma nota entre 0 e 10: "))

digite um número de 0 a 10:8

In [7]:
print("faça o seu cadastro:")
usuario=str(input("usuário--> "))
senha=str(input("senha-->"))
while usuario==senha:
	print("ERRO: o usuário não pode ser igual a senha, tente novamente")
	usuario=str(input("usuário--> "))
	senha=str(input("senha-->"))
else:
	print("cadastrado efetuado com sucesso")

faça o seu cadastro:
usuário--> allanaaa
senha-->allana1234
cadastrado efetuado com sucesso

In [8]:
populaçãoA=80000
populaçãoB=200000
ano=0
while populaçãoA < populaçãoB:
	populaçãoA+=round((populaçãoA*3.0)/100)
	populaçãoB+=round((populaçãoB*1.5)/100)
	ano=ano+1

print("levará",ano,"anos para população da cidade A ser maior que a cidade B")
print("populaçãoB-->",populaçãoB,"habitantes")
print("populaçãoA-->", populaçãoA,"habitantes")

levará 63 anos para população da cidade A ser maior que a cidade B
populaçãoB--> 510969 habitantes
populaçãoA--> 515034 habitantes

In [11]:
populaçãoA=float(input("informe a população da cidade A: "))
populaçãoB=float(input("informe a população da cidade B: "))
ano=0
taxa_crescimentoA=float(input("informe a taxa de crescimento da população da cidade A: "))
taxa_crescimentoB=float(input("informe a taxa de crescimento da população da cidade B: "))
while populaçãoA < populaçãoB:
	populaçãoA+=round((populaçãoA*taxa_crescimentoA)/100)
	populaçãoB+=round((populaçãoB*taxa_crescimentoB)/100)
	ano=ano+1

print("levará",ano,"anos para população da cidade A ser maior que a cidade B")
print("populaçãoB-->",populaçãoB,"habitantes")
print("populaçãoA-->", populaçãoA,"habitantes")

informe a população da cidade A: 70000
informe a população da cidade B: 12000
informe a taxa de crescimento da população da cidade A: 2
informe a taxa de crescimento da população da cidade B: 3
levará 0 anos para população da cidade A ser maior que a cidade B
populaçãoB--> 12000.0 habitantes
populaçãoA--> 70000.0 habitantes

In [14]:
for i in range (1,21):
	print (i)
print(list(range(1,21)))

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [18]:
num1=float(input("digite o 1º numero:"))
num2=float(input("digite o 2º numero:"))
num3=float(input("digite o 3º numero:"))
num4=float(input("digite o 4º numero: "))
num5=float(input("digite o 5º numero:"))
if (num1 >num2 and num1 > num3 and num1 > num4 and num1  >num5):
	print("o maior numero é o 1º=", num1)
if (num2 >num1 and num2 > num3 and num2 > num4 and num2  >num5):
	print("o maior numero é o 2º=", num2)
if (num3 >num2 and num3 > num1 and num3 > num4 and num3  >num5):
	print("o maior numero é o 3º=", num3)	
elif (num4 >num2 and num4 > num3 and num4 > num1 and num4  >num5):
	print("o maior numero é o 4º=", num4)	
else:
	print("o maior numero é o 5º=", num5)

digite o 1º numero:02
digite o 2º numero:17
digite o 3º numero:19
digite o 4º numero: 20
digite o 5º numero:03
o maior numero é o 4º= 20.0

In [19]:
num1=float(input("digite o 1º numero:"))
num2=float(input("digite o 2º numero:"))
num3=float(input("digite o 3º numero:"))
num4=float(input("digite o 4º numero:"))
num5=float(input("digite o 5º numero:"))
soma=num1+num2+num3+num4+num5
print("soma",soma,)
print("média",soma/5)

digite o 1º numero:40
digite o 2º numero:23
digite o 3º numero:21
digite o 4º numero:12
digite o 5º numero:6
soma 102.0
média 20.4

In [20]:
for i in range(1,51,2):
    print (i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [22]:
num1=int(input("digite um numero:"))
num2=int(input("digite outro numero:"))
while num2<num1:
	num1=int(input("digite um numero "))
	num2=int(input("digite outro numero "))
else:
	for i in range(num1,num2,1):
		print(i)

digite um numero:2
digite outro numero:8
2
3
4
5
6
7

In [23]:
inicio=int(input("digite o inicio do intervalo:"))
fim=int(input("digite o fim do intervalo:"))
soma=0
while (inicio<fim-1):
    inicio=inicio+1
    print(inicio)
    soma=inicio+soma
    
print("a soma dos intervalos é =",soma)

digite o inicio do intervalo:2
digite o fim do intervalo:8
3
4
5
6
7
a soma dos intervalos é = 25

In [26]:
quantCD = int(input("Digite a quantidade de CDs: "))
print("")
a = 0
valorTotal = 0
for x in range(quantCD):
	valorCD = float(input("Digite o valor do CD: "))
	valorTotal = valorTotal + valorCD
	valorMedio = valorTotal / quantCD
	a = a + 1
print("")
print("O valor total gasto: R$", valorTotal)
print("O valor médio gasto por cada CD foi de: R$", valorMedio)

Digite a quantidade de CDs: 3

Digite o valor do CD: 5
Digite o valor do CD: 3
Digite o valor do CD: 12

O valor total gasto: R$ 20.0
O valor médio gasto por cada CD foi de: R$ 6.666666666666667

In [34]:
aluno = []
altura = []
for i in range (0, 10):
  addStudents = str(input("Adicione o número aluno:\n"))
  aluno.append(addStudents)
  addHeights = float(input("Agora sua respectiva altura:\n"))
  altura.append(addHeights)

x = altura.index(max(altura))
y = aluno[x]
print("O maior aluno foi cadastrado com o número: " + str(y) + ". Medindo respectivamente: " + str(max(altura)))

Adicione o número aluno:
1
Agora sua respectiva altura:
123
Adicione o número aluno:
2
Agora sua respectiva altura:
134
Adicione o número aluno:
3
Agora sua respectiva altura:
145
Adicione o número aluno:
4
Agora sua respectiva altura:
156
Adicione o número aluno:
5
Agora sua respectiva altura:
167
Adicione o número aluno:
6
Agora sua respectiva altura:
168
Adicione o número aluno:
7
Agora sua respectiva altura:
178
Adicione o número aluno:
8
Agora sua respectiva altura:
187
Adicione o número aluno:
9
Agora sua respectiva altura:
176
Adicione o número aluno:
10
Agora sua respectiva altura:
175
O maior aluno foi cadastrado com o número: 8. Medindo respectivamente: 187.0

In [ ]:

n = 1
c1 = 0
c2 = 0
c3 = 0
c4 = 0
while n> 0:
  n = int(input("Digite um número"))
if n>= 0and n<= 25:c1 = c1+ 1
elif n>= 26and n<= 50:c2 = c2+ 1
elif n>= 51and n<= 75:c3 = c3+ 1
elif n>= 76and n<= 100:c4 = c4+ 1
print("A quantidade de números entre 0 e 25 é: ", c1,", entre votos26-50 é: ", c2,", entre votos 51-75 é: ", c3,", e entre votos 76-100é: ", c3)

In [41]:
n = int(input("Digite n: "))
m = 1
print("S = ", end="")
for i in range(1, n + 1):
    print(f"{i}/{m}", end="")
    if i < n and n > 1:
        print(" + ", end="")
    else:
        print(".")
    soma += i / m
    m += 2
print(f"A soma da série deu {soma:.2f}")

Digite n: 4
S = 1/1 + 2/3 + 3/5 + 4/7.
A soma da série deu 27.84