<a href="https://colab.research.google.com/github/iamallana/etepd.Lpc/blob/main/desafio(estrutura_sequencial).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("alo ete porto digital")

alo ete porto digital

In [ ]:
number = input("digite um numero")
print("o numero informado foi % s"% (number))

digite um numero5
o numero informado foi 5

In [ ]:
number1 = int (input("digite um numero:"))
number2 = int (input("digite o segundo numero:"))
print('soma dos dois numeros',(number1+number2))

digite um numero:6
digite o segundo numero:7
soma dos dois numeros 13

In [ ]:
n1 = int(input("digite a primeria nota:"))
n2 = int(input("digite a segunda nota:"))
n3 = int(input("digite a terceira nota:"))
n4 = int(input("digite a quarta nota:"))
print('a soma das notas' , (n1+n2+n3+n4))
print ('a media das notas' , (n1+n2+n3+n4/4))

digite a primeria nota:6
digite a segunda nota:7
digite a terceira nota:8
digite a quarta nota:9
a soma das notas 30
a media das notas 23.25

In [ ]:

metrosparacentimetros = float(input("digite o metro:"))
print ('conversão em centimetros:') , (metrosparacentimetros * 100)

digite o metro:1.7
conversão em centimetros:

(None, 170.0)

In [ ]:
raiodocirculo = float(input("digite o raio:"))
print ('area do circulo') , (raiodocirculo * 2 * 3.14)

digite o raio:4
area do circulo

(None, 25.12)

In [ ]:
areadoquadrado = float(input("digite a altura do quadrado:"))
print ('area do quadrado:') , (areadoquadrado **2 * 2)

digite a altura do quadrado:8
area do quadrado:

(None, 128.0)

In [9]:
var1 = int(input("quanto voce ganha por hora:"))
var2 = int(input("quantas horas voce trabalha no mes?"))
print ('total do salario no mes:') , (var1 * var2)

quanto voce ganha por hora:14
quantas horas voce trabalha no mes?200
total do salario no mes:

(None, 2800)

In [10]:
f = float(input("temperatura em graus Fahrenheit:"))
print ('transforme e mostre a temperatura em graus Celsius:') , ( 5 * ((f-32) / 9))

temperatura em graus Fahrenheit:80
transforme e mostre a temperatura em graus Celsius:

(None, 26.666666666666664)

In [35]:
c = float(input("temperatura em graus Celsius:"))
print ('temperatura em Fahrenheit') , ( c * (9 / 5) + 32)

temperatura em graus Celsius:30
temperatura em Fahrenheit

(None, 86.0)

In [36]:
var1 = int(input("primeiro número interio:"))
var2 = int(input("segundo número inteiro:"))
var3 = float(input("um número real:"))
print ( 'Soma:' , (( 2 * var1 ) * ( var2 / 2 )))
print ( 'Produto:' , ( 3  *  var1 ) +  var3 )
print ( 'Cubo:' , var3 ** 3 )

primeiro número interio:4
segundo número inteiro:6
um número real:3.4
Soma: 24.0
Produto: 15.4
Cubo: 39.303999999999995

In [72]:
altura = float(input("Altura:"))
print ('Peso ideal:') , ((72.7*altura) - 58)

Altura:1.70

TypeError: ignored

In [76]:
sexo = int(input("Escolha: 1- Sexo Masculino / 2- Sexo Feminino:"))
h = float(input("Altura:"))
peso = float(input("Peso:"))

peso_ideal = (72.7*h) - 58 if sexo == 1 else (62.1*h) - 44.7

Escolha: 1- Sexo Masculino / 2- Sexo Feminino:2
Altura:1.63
Peso:59

In [93]:
peso = float(input('Peso:'))
if peso > 50:
	excedente = peso - 50
	multa = excedente * 4
else:
	excedente = 0
	multa = 0
print ('Peso: %.2f Kg' %peso)
print ('Excesso: %.2f Kg' %excedente)
print ('Multa: R$ %.2f' %multa)

Peso:54

TypeError: ignored

In [97]:
tamanho  =  float ( input ( 'Tamanho do arquivo (MB): ' ))
velocidade  =  float ( input ( 'Velocidade de Internet (MBps): ' ))
print ( 'Tempo aproximado de download: %.0f Minutos'  % (( tamanho  /  velocidade ) *  60 ))

Tamanho do arquivo (MB): 5
Velocidade de Internet (MBps): 15

TypeError: ignored